@model Gym_Management.Models.PaymentDTO
@{
    ViewData["Title"] = "Payment";
}
<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <div class="search-container" style="margin-top:130px;width:800px;">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Enter Name" aria-label="Search" aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Payment", "Payment", FormMethod.Post))
    {
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 2000px; margin-top: 50px; ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-1"><b>Name</b></div>
                        <div class="col-md-2"><b>Phone Number</b></div>
                        <div class="col-md-2"><b>Membership</b></div>
                        <div class="col-md-1"><b>Amount</b></div>
                        <div class="col-md-1"><b>Date</b></div>
                        <div class="col-md-1"><b>Goal</b></div>
                        <div class="col-md-2"><b>Payment Method</b></div>
                        <div class="col-md-2"><b>Reference Number</b></div>
                    </div>
                </div>
                <div class="card-body" style="padding-bottom: 20px;">
                    <div class="row">
                        <div class="col-md-1">
                            @Html.DisplayFor(model => model.CustomerName)
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.PhoneNumber, new { @readonly = "readonly" })
                        </div>
                        <div class="col-md-2" >
                            @Html.DropDownListFor(model => model.MembershipId, Model.Membership, "Select an option", new { @class = "form-control textFontSize" })
                            @Html.ValidationMessageFor(model => model.MembershipId, "", new { @class = "text-danger textFontSize" })
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger textFontSize" })
                        </div>
                        <div class="col-md-1">
                            @Html.EditorFor(model => model.PaymentDate, new { @class = "form-control textFontSize" })
                            @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger textFontSize" })
                        </div>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.GoalId, Model.Goal, "Select an option", new { @class = "form-control textFontSize" })
                            @Html.ValidationMessageFor(model => model.GoalId, "", new { @class = "text-danger textFontSize" })
                        </div>
                        <div class="col-md-2">
                            <div class="dropdown" style="display: inline;">
                                @Html.DropDownListFor(model => model.PayMethodId, Model.PaymentMethod, "Select an option", new { @class = "form-control textFontSize" })
                                @Html.ValidationMessageFor(model => model.PayMethodId, "", new { @class = "text-danger textFontSize" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.ReferanceNumber, new { @class = "form-control form-control-sm" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-danger btn-block mt-5 mb-5" style="float: right; width: 150px;">Submit</button>
    }
</div>



<div id="loading" style="display: @TempData["IsBusyIndicator"]">
    <table style="height: 100%; border: 0; width: 100%; position: fixed; top: 0; left: 0; background-color: #FAFAFA; opacity: 0.8; filter: alpha(opacity=80); z-index: 9000;">
        <tbody>
            <tr>
                <td style="width: 100%; text-align:center; vertical-align : middle;">
                    <div class="imgStyle" id="Loadingtext">
                        <img class="imgSize" src="../Images/loader.gif" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>