@model Page<Gym_Management.Models.AttendanceDTO>

@{
    ViewData["Title"] = "Attendance";
}

<section style="background-color:whitesmoke; margin-top:100px">
    <a href="@Url.Action("PaymentSummary")" class="btn btn-outline-primary d-flex align-items-center" style="position: fixed; top: 100px; right: 10px;">
        <i class="bi bi-cloud-arrow-down-fill"></i>
        <span class="ml-2">Save as PDF</span>
    </a>
   @using (Html.BeginForm("Attendances", "Attendance", FormMethod.Post))
    {
        @foreach (var element in Model.Data)
        {
            <div class="d-flex justify-content-center" style=" margin-top:1000px">
                <div class="card rounded-3" style="width: 1200px; height: 200px;">
                    <div class="card-body d-flex align-items-center">
                        <div class="dropdown mb-4" style="margin-left: 30px; margin-right: 20px;">
                            @Html.LabelFor(model => element.DisplayType, "Employees")
                            <br />
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="employee" style="margin-top: 10px;">
                                @Html.DisplayFor(model => element.DisplayType)
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">@Gym_Management.Models.AttendanceDTO.EmployeeType.AllEmployee</a></li>
                                <li><a class="dropdown-item" href="#">@Gym_Management.Models.AttendanceDTO.EmployeeType.Customer</a></li>
                                <li><a class="dropdown-item" href="#">@Gym_Management.Models.AttendanceDTO.EmployeeType.Trainer</a></li>
                            </ul>
                        </div>

                        <div class="me-2" style="margin-top: -22px;">
                            @Html.LabelFor(model => element.Date, "Attendance Date")
                            <div class="form-control" style="width: 200px;margin-top:10px">
                                @Html.EditorFor(model =>element.Date, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <button class="btn btn-danger" type="submit" style="width:150px;margin-left:40px;margin-top:12px">Search Employee</button>
                    </div>
                </div>
            </div>
            <div class=" d-flex justify-content-center">
                <div class="card" style="width: 1200px;margin-top:50px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2" style="margin-left:20px"><b>Employee</b></div>
                        <div class="col-md-2"><b>Status</b></div>
                        <div class="col-md-2"><b>Time</b></div>
                    </div>
                </div>
                <div class=" card-body" style="padding-bottom:20px">
                    <div class="row">
                        <div class="col-md-2" style="margin-left: 35px;margin-top:10px">
                                @Html.DisplayFor(model =>element.Name,new { @readonly = "readonly" })
                        </div>
                        <div class="col-md-2" style="margin-left:-30px;margin-top:10px">
                            @Html.DropDownListFor(model => element.EmpStatusId, new SelectList(element.Status, "Value", "Text"), new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => element.EmpStatusId, "", new { @class = "text-danger textFontSize" })
                        </div>
                        <div class="col-md-2" style="margin-top:10px">
                                @Html.TextBoxFor(model => element.Timing, new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => element.Timing, "", new { @class = "text-danger textFontSize" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
      }
   }

<div class="pagination justify-content-center" style="padding-top:20px">

    <div class="dropdown" style="padding-right:10px">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="pageSizeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Page Size:@Model.PageSize
        </button>
        <div class="dropdown-menu" aria-labelledby="pageSizeDropdown">
            <a class="dropdown-item" href="?pageNumber=@Model.PageNumber&pageSize=10">10</a>
            <a class="dropdown-item" href="?pageNumber=@Model.PageNumber&pageSize=20">20</a>
            <a class="dropdown-item" href="?pageNumber=@Model.PageNumber&pageSize=50">50</a>
            <a class="dropdown-item" href="?pageNumber=@Model.PageNumber&pageSize=100">100</a>

        </div>
    </div>

    <ul class="pagination">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item"><a class="page-link" href="?pageNumber=@(Model.PageNumber - 1)&pageSize=@Model.PageSize">Previous</a></li>
        }

        @if (Model.PageNumber > 3)
        {
            <li class="page-item"><a class="page-link" href="?pageNumber=1&pageSize=@Model.PageSize">1</a></li>
            <li class="page-item disabled"><span class="page-link">...</span></li>
        }

        @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.TotalPages, Model.PageNumber + 2); i++)
        {
            if (Model.PageNumber == i)
            {
                <li class="page-item active"><span class="page-link">@i</span></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="?pageNumber=@i&pageSize=@Model.PageSize">@i</a></li>
            }
        }

        @if (Model.PageNumber < Model.TotalPages - 2)
        {
            <li class="page-item disabled"><span class="page-link">...</span></li>
            <li class="page-item"><a class="page-link" href="?pageNumber=@Model.TotalPages&pageSize=@Model.PageSize">@Model.TotalPages</a></li>
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item"><a class="page-link" href="?pageNumber=@(Model.PageNumber + 1)&pageSize=@Model.PageSize">Next</a></li>
        }
    </ul>
</div>
</section>
<div id="loading" style="display: @TempData["IsBusyIndicator"]">
    <table style="height: 100%; border: 0; width: 100%; position: fixed; top: 0; left: 0; background-color: #FAFAFA; opacity: 0.8; filter: alpha(opacity=80); z-index: 9000;">
        <tbody>
            <tr>
                <td style="width: 100%; text-align:center; vertical-align : middle;">
                    <div class="imgStyle" id="Loadingtext">
                        <img class="imgSize" src="../Images/loader.gif" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

